<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#">

        <li>
    <header>
        <ul>
            <li id="zona_img">
                <img src="/static/imgs/logo.jpg" alt="logo">
            </li>
            <li >
                <h1>BEM POR PERTO</h1>
            </li>
        </ul>
    </header>
    <main>
        <section class="container">
            <form action="#" method="post">
                <ul>
                    <li>
                        <label for="nome">Nome</label>
                        <input type="text" name="nome" placeholder="Nome completo" id="nome">
                    </li>
                    <li>
                        <label for="data_nascimento">Data de Nascimento</label>
                        <input type="date" name="data_nascimento" id="data_nascimento" required>
                    </li>
                    <li>
                        <label for="cpf">CPF</label>
                        <input type="text" name="cpf" id="cpf" placeholder="000.000.000-00" maxlength="14" required>
                    </li>
                    <li>
                        <label for="genero">Gênero</label>
                        <select name="genero" id="genero" required>
                          <option value="">Selecione</option>
                          <option value="feminino">Feminino</option>
                          <option value="masculino">Masculino</option>
                          <option value="outro">Outro</option>
                          <option value="prefiro_nao_dizer">Prefiro não dizer</option>
                        </select>
                    </li>
                    <li>
                        <label for="Endereço">Endereço</label>
                        <input type="Text" name="Endereço" placeholder="Cidade, Bairro, Rua, Número" id="Endereço">
                    </li>
                    <li>
                      <label for="telefone">Telefone</label>
                        <input type="tel" name="telefone" id="telefone" placeholder="(11) 99999-9999" maxlength="15" required>
                    </li>
                    <li>
                        <label for="senha">Senha</label>
                        <input type="password" name="senha" id="senha" required>
                    </li>
                    <li>
                        <h2>Dados do Idoso</h2>
                      </li>
            
                      <li>
                        <label for="nome_idoso">Nome do idoso</label>
                        <input type="text" name="nome_idoso" id="nome_idoso" required>
                      </li>
            
                      <li>
                        <label for="idade_idoso">Idade do idoso</label>
                        <input type="number" name="idade_idoso" id="idade_idoso" required>
                      </li>
            
                      <li>
                        <br><label>Condições especiais</label><br>
                        <label><input type="checkbox" name="condicoes[]" value="alzheimer"> Alzheimer</label><br>
                        <label><input type="checkbox" name="condicoes[]" value="mobilidade"> Mobilidade reduzida</label><br>
                        <label><input type="checkbox" name="condicoes[]" value="diabetes"> Diabetes</label><br>
                        <label><input type="checkbox" name="condicoes[]" value="medicacao"> Acompanhamento de medicação</label>
                      </li>
            
                       <li>
                        <br><label>Necessidades específicas</label><br>
                        <label><input type="checkbox" name="necessidades[]" value="companhia"> Companhia</label><br>
                        <label><input type="checkbox" name="necessidades[]" value="locomocao"> Locomoção</label><br>
                        <label><input type="checkbox" name="necessidades[]" value="higiene"> Higiene pessoal</label><br>
                        <label><input type="checkbox" name="necessidades[]" value="consultas"> Acompanhamento em consultas</label><br>
                        <label><input type="checkbox" name="necessidades[]" value="alimentacao"> Ajuda com alimentação</label>
                      </li>
            
                      <li>
                        <br><label>Horários desejados</label><br>
                        <label><input type="checkbox" name="horarios[]" value="diurno"> Diurno</label><br>
                        <label><input type="checkbox" name="horarios[]" value="noturno"> Noturno</label><br>
                        <label><input type="checkbox" name="horarios[]" value="fins_semana"> Finais de semana</label><br>
                        <label><input type="checkbox" name="horarios[]" value="plantoes"> Plantões</label>
                      </li>
            
                      <li>
                        <br><label>Tipo de serviço</label><br>
                        <label><input type="radio" name="tipo_servico" value="residente" required> Cuidador residente</label><br>
                        <label><input type="radio" name="tipo_servico" value="diarista"> Diarista</label><br>
                        <label><input type="radio" name="tipo_servico" value="por_hora"> Por hora</label>
                      </li>




    </form>
    
</body>
</html>