<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Idoso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/ca.css') }}">
</head>
<body>
   {% with mensagens = get_flashed_messages() %}
                        {% if mensagens %}
                            <ul style="color: #EF4444;">
                                {% for msg in mensagens %}
                                    <li>{{ msg }}</li>
                                {% endfor %}

                            </ul>
                        {% endif %}
                    {% endwith %}
        <li>
    <header>
        <ul>
            <li id="zona_img">
                <img src="/static/imgs/logo.jpg" alt="logo">
            </li>
            <li >
                <h1>BEM POR PERTO</h1>
            </li>
        </ul>
    </header>
    <main>
        <section class="container">
            <form method="post" action="{{ url_for('cadas')}}" >
                <ul>
                    <li>
                        <label for="nome">Nome</label>
                        <input type="text" name="nome" placeholder="Nome completo" id="nome">
                    </li>
                    <li>
                      <label for="idade">Idade</label>
                      <input type="number" name="idade" id="idade" placeholder="99">
                    </li>
                    <li>
                      <label for="data_nascimento">data de nascimento</label>
                        <input type="number" name="dia" id="data_nascimento" >
                        <input type="number" name="mes" id="data_nascimento" >
                        <input type="number" name="ano" id="data_nascimento" >

                    </li>
                    <li>
                        <label for="cpf">CPF</label>
                        <input type="text" name="cpf" id="cpf" placeholder="000.000.000-00" maxlength="14" >
                    </li>
                    <li>
                        <label for="genero">Gênero</label>
                        <select name="genero" id="genero" required>
                          <option value="">Selecione</option>
                          <option value="feminino">Feminino</option>
                          <option value="masculino">Masculino</option>
                          <option value="outro">Outro</option>
                          <option value="prefiro_nao_dizer">Prefiro não dizer</option>
                        </select>
                    </li>
                    <li>
                        <label for="Endereço">Endereço</label>
                        <input type="Text" name="endereco" placeholder="Cidade, Bairro, Rua, Número" id="Endereço">
                    </li>
                    <li>
                        <label for="cp">CEP</label>
                        <input type="text" name="cep" placeholder="xxxxxxxx" id="cp">
                    </li>
                    <li>
                      <label for="telefone">Telefone</label>
                        <input type="tel" name="telefone" id="telefone" placeholder="(11) 99999-9999" maxlength="15">
                    </li>
                    <li>
                      <label for="email">email</label>
                      <input type="text" name="email" id="email" placeholder="exemplo@gmail.com">
                    </li>
                    <li>
                        <label for="senha">Senha</label>
                        <input type="password" name="senha" id="senha">
                    </li>
                    
          <li>
            <input type="submit" value="Cadastrar Usuário">
            
          </li>
          <li>
            <a href="{{ url_for('home') }}">Voltar</a>
          </li>
    </form>
    
</body>
</html>
