<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nao sei</title>
    <link rel="stylesheet" href="/static/style/ca.css">
</head>
<body>
    <header>

    </header>
    <main>
        <section class="container">
            <form action="#" method="post">
                <ul>
                    <li>
                        <label for="nome">Nome</label>
                        <input type="text" name="nome" placeholder="Nome completo" id="nome">
                    </li>
                    <li>
                        <label for="data_nascimento">Data de Nascimento</label>
                        <input type="date" name="data_nascimento" id="data_nascimento" required>
                    </li>
                    <li>
                        <label for="Endereço">Endereço</label>
                        <input type="Text" name="Endereço" placeholder="Cidade, Bairro, Rua, Número" id="Endereço"
                    </li>
                    <li>
                      <label for="telefone">Telefone</label>
                        <input type="tel" name="telefone" id="telefone" placeholder="(11) 99999-9999" maxlength="15" required>
                    </li>
                    

                    <li>
                        <input type="submit">
                    </li>
                </ul>
            </form>
        </section>
    </main>
    <footer>
        <address>
        
        </address>
    </footer>
</body>
</html>
