<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem Por Perto</title>
    <link rel="stylesheet" href="/static/style/base.css">
</head>
<body>
    <header>
        <div class="container" id="cabeca">
            <div class="container" id="titulo">
            </div>
            <nav>
                <ul>
                    <li><h1>BEM POR PERTO</h1></li>
                    <li><a href="{{ url_for('sobre') }}">Sobre nós</a></li>
                    <li><a href="{{ url_for('cuidador') }}">Para cuidador</a></li>
                    <li class="push"></li>
                    <li><a href="{{ url_for('ajuda') }}">Ajuda</a></lia>
                    <li><a href="{{ url_for('login') }}">Fazer login</a></lia>
                    <li><a href="{{ url_for('cadastro') }}">Cadastre-se</a></lia>
                </ul>
            </nav>
            <p class="descri">Cuidado para os que<br> mais precisam, de<br>forma rapida e prática</p>
            <p class="descricao">cadastre-se na Bem Por Perto agora e<br>consiga cuidadores para as pessoas que<br>ama assim que necessário</p>
            <nav>
                <ul>
                  <li><a href="{{ url_for('cadastro') }}" class="btn">Cadastre-se agora</a></li>
                  <li><a href="{{ url_for('explorar') }}" class="btn">Explorar cuidadores</a></li>
                </ul>
            </nav>
            <section id="servicos">
              <h2>Nossos serviços</h2> 
              <div class="servicos">
                <div>
                <h4>Locomoção</h4>
                <p>Nossos motoristas ajudam e possuem veículos especializados para transporte de idosos.</p>
              </div>
              <div>
                <h4>Companhia</h4>
                <p>Cuidadores que fazem companhia para idosos com atividades divertidas para deixá-los animados</p>
              </div>
              <div>
                <h4>Medicação</h4>
                <p>Especialistas capazes de ajudar idosos com medicamentos e outras consultas médicas</p>
              </div>
              </div>
            </section>
            <p class="des">E muitos outros serviços no nosso site</p>
            <p class="desc">Planeje seu cuidado<br>para depois reservar<br>um dos nossos cuidadores.</p>
            <p class="dess">Reserve um cuidador<br>para ter seu serviço<br>garantido no momento<br>que mais precisar,<br>independente do que for.</p>
            <nav>
              <ul>
                <li><a href="{{ url_for('reserve') }}" class="bt">Reserve agora</a></li>
              </ul>
            </nav>
            <h4>Vantagens:</h4>
            <p class="de">Escolha o serviço desejado<br>com até 90 dias de<br>antecedência.</p>
            <p class="de">Cancele com até um dia de<br>antecedência sem custo.</p>
            <p class="de">Garantia de que o cuidador<br>estará disponível.</p>
            <div class="container" id="espaco">
               <button type="button" id="menu" aria-controls="zona" aria-expanded="false" aria-label="Abrir menu"></button>
               <nav class="caixa-fechada" id="zona">
                  <ul>
                        <li>
                            <button type="button" onclick="alert('Indisponivel')">Suporte</button>
                        </li>
                        <li>
                            <button type="button" onclick="alert('Indisponivel')">Equipe</button>
                        </li>
                        <li>
                            <button type="button" onclick="alert('Indisponivel')">Contato</button>
                        </li>
                        <li>
                            <button type="button" onclick="alert('Indisponivel')">Agende uma visita</button>
                        </li>
                  </ul>
               </nav> 
            </div>

        </div>
    </header>
    <main>
        <section>
            <div class="container" id="corpo">
                <div class="container" id="principal">
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section>
            <div class="container" id="Sobre">
            </div>
        </section>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
