<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem Por Perto</title>
    <link rel="stylesheet" href="/static/style/base.css">
</head>
<body>
    <header>
        <div class="container" id="cabeca">
            <ul>
                <li>
                    <button type="button" onclick="alert('Indisponivel')">Suporte</button>
                </li>
                <li>
                    <button type="button" onclick="alert('Indisponivel')">Equipe</button>
                </li>
                <li>
                    <button type="button" onclick="alert('Indisponivel')">Contato</button>
                </li>
                <li>
                    <button type="button" onclick="alert('Indisponivel')">Agende uma visita</button>
                </li>
            </ul>
        </div>
    </header>
    <main>
        <section>
            <div class="container" id="corpo">

                <div class="container" id="principal">
                    <h1>Bem por Perto</h1>
                </div>

            </div>
        </section>
    </main>
    <footer>
        <section>
            <div class="container" id="Sobre">

            </div>
        </section>
    </footer>
</body>
</html>