body {
    margin: 0;
    height: 100vh;
    background-image: url("/static/imgs/bpp.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.faixa {
  background-color: #2e7d32;
  padding: 10px 20px;
  border: 2px solid white;

  position: fixed;      
  top: 0;              
  left: 0;              
  width: 100%;           
  z-index: 1000;         
}
.lin ul {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  height: 40px;
  width: auto;
}

.titulo {
  font-size: 24px;
  font-family: w3-serif;
  color: white;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background-color: #108f21;
  opacity: 0.8;
  z-index: 0;
}
.circle.left {
  width: 600px;
  height: 600px;
  left: -250px;
  top: 70%;
  transform: translateY(-50%);
}
.circle.right {
  width: 500px;
  height: 500px;
  right: -200px;
  top: 20%;
  transform: translateY(-40%);
}

.login-container {
  position: relative;
  z-index: 1;
  background-color: #108f21;
  color: white;
  padding: 40px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  border: 2px solid #FFFFFF;
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  outline: none;
}

.login-container button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: 2px solid white;
  background: transparent;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-container a {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}
.login-container a:hover {
  text-decoration: underline;
}

.social-login {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.social-login button {
  background: white;
  border: none;
  padding: 5px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.social-login button img {
  width: 30px;
  height: 30px;
}
