<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Cliente</title>
    <link rel="stylesheet" href="/static/style/ca.css">
</head>
<body>
    <header>
        <ul>
            <li id="zona_img">
                <img src="/static/imgs/d9bab07f-2260-446e-9a9c-9a3efa7f5009.jpg" alt="logo">
            </li>
            <li >
                <h1>BEM POR PERTO</h1>
            </li>
        </ul>
    </header>
    <main>
         {% with mensagens = get_flashed_messages() %}
                        {% if mensagens %}
                            <ul style="color: #EF4444;">
                                {% for msg in mensagens %}
                                    <li>{{ msg }}</li>
                                {% endfor %}

                            </ul>
                        {% endif %}
                    {% endwith %}
        <section class="container">
            <form action="{{url_for('pro')}}" method="post">
                <ul>
                    <li>
                        <label for="nome">Nome</label>
                        <input type="text" name="nome" placeholder="Nome completo" id="nome">
                    </li>
                    <li>
                        <label for="data_nascimento">Data de Nascimento</label>
                        <input type="date" name="data_nascimento" id="data_nascimento" required>
                    </li>
                    <li>
                        <label for="cpf">CPF</label>
                        <input type="text" name="cpf" id="cpf" placeholder="000.000.000-00" maxlength="14" required>
                    </li>
                    <li>
                        <label for="genero">Gênero</label>
                        <select name="genero" id="genero" required>
                          <option value="">Selecione</option>
                          <option value="feminino">Feminino</option>
                          <option value="masculino">Masculino</option>
                          <option value="outro">Outro</option>
                          <option value="prefiro_nao_dizer">Prefiro não dizer</option>
                        </select>
                    </li>
                    <li>
                        <label for="Endereço">Endereço</label>
                        <input type="Text" name="Endereço" placeholder="Cidade, Bairro, Rua, Número" id="Endereço"
                    </li>
                    <li>
                      <label for="telefone">Telefone</label>
                        <input type="tel" name="telefone" id="telefone" placeholder="(11) 99999-9999" maxlength="15" required>
                    </li>
                    <li>
                        <label for="senha">Senha</label>
                        <input type="password" name="senha" id="senha" required>
                    </li>
                    
                    <li>
                        <input type="submit" value="Cadastrar Cliente">
                        <a href="{{url_for('home')}}" >voltar</a>
                    </li>
                </ul>
            </form>
            
        </section>
    </main>
    <footer>
        <address>
        
        </address>
    </footer>
</body>
</html>
