<!DOCTYPE html>
<html lang="pt-BR">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Login - Bem por Perto</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style/login.css') }}">
    </head>
      <body>
       <div class="faixa">
            <nav class="lin">
              <ul>
                <li><img src="/static/imgs/logo.jpg" alt="Logo" class="logo"></li>
                <li><h1 class="titulo">BEM POR PERTO</h1></li>
              </ul>
            </nav>
       </div>
      <div class="circle left"></div>
      <div class="circle right"></div>
      <div class="login-container">
        <h2>Bem vindo de volta!</h2>
        <form  method="get" action="/inicial">
          <input type="email" placeholder="Digite seu email" required>
          <input type="password" placeholder="Digite sua senha" required>
          <button type="submit">Entrar</button>
        </form>
        <a href="#">Esqueceu sua senha?</a>
        <p>ou entrar com</p>
        <div class="social-login">
          <button><img src="/static/imgs/apple.png" alt="apple"></button>
          <button><img src="/static/imgs/face.png" alt="face"></button>
          <button><img src="/static/imgs/google.png" alt="google"></button>
        </div>
      </div>
    </body>
    </html>
